@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f0f0f0;
    --secondary-color: #333;
    --accent-color: #e50914;
    --text-color: #444;
}

body {
    font-size: 1.2em;
    background: linear-gradient(to right, #f5f7fa, #c3cfe2);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.nav {
    margin-bottom: 20px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
}

ul li {
    list-style: none;
    padding: 15px 30px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 2;
    color: var(--primary-color);
    font-weight: bold;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

ul li:hover {
    color: var(--accent-color);
    border-bottom: 3px solid var(--accent-color);
}

img {
    filter: brightness(150%);
    margin-right: auto;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

.cont {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    line-height: 1.8;
}

h5 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

h2, h3, h4 {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

h3 {
    font-size: 1.3em;
    margin-top: 15px;
}

h4 {
    font-size: 1.2em;
    margin-top: 10px;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--secondary-color);
    margin: 20px 0;
}

ul.achievements {
    list-style-type: disc;
    margin-left: 20px;
}

html{
  font-family: Poppins, 'Segoe UI', sans-serif;
}
body{
  min-height: 100vh;
  display: grid;
  place-items: center;
  background: #ebebf6;
}
.socials-container{
  display: flex;
  gap: 20px;
}
.socials-container a{
  background-color: white;
  padding: 1em;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.socials-container a svg{
  height: 32px;
}
.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  color: white;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover{
  background-color: var(--accent-color);
  fill: white;
}
.socials-container a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socials-container a:hover::before{
  transform: translateY(-65px) rotate(0);
  opacity: 1;
}
.socials-container a:hover::after{
  transform: translateY(-42px) rotate(0);
  opacity: 1;
}